body{
    padding: 0;
    margin: 0;
}
#metin{
    margin: 10px;
}
#hak:hover{
  color:brown;
   
}
#seh:hover{
    background-color: brown;
    color:black;
}
#miras:hover{
    background-color: brown;
    color:black;
}
#ilgi:hover{
    background-color: brown;
    color:black;
}
#iletisim:hover{
    background-color: brown;
    color:black;
}
#seh{
    color:black;
}
#miras{
    color: black;
}
#ilgi{
    color:black,
}
#iletisim{
    color: black;
}

#menu{

    float:left;
    margin-left: 15px;
    width:100%;
    background-color:blue;
    height: 100px;


}
#kare{
    background-color:rgb(176, 142, 98);
    width: 50px;
    height: 50px;
}