body{
    padding: 0;
    margin: 0;
    
}
#metin{
    margin: 10px;
}
#hak{
    color: black;
}
#seh{
    color:black;
}
#miras{
    color: black;
}
#ilgi{
    color:black;
}
#iletisim{
    color: black;
}
#gül{
    color:black
}
#gül:hover{
    background-color: brown;
    color:black;

}
#iletisim:hover{
      
  background-color: brown;
  color:black;
}
#hak:hover{
  
  background-color: brown;
  color:black;
}
#seh:hover{
      
  background-color: brown;
  color:black;

}
#miras:hover{
      
  background-color: brown;
  color:black;
}
#ilgi:hover{
      
  background-color: brown;
  color:black;
}
#film{
    color: black;
}
#film:hover{
    background-color: brown;
    color:black;
}
.container-fluid{
    background-color:bisque;
}
#h4{
    margin-top:50px;
}
#h41{
    margin-left: 200px;
    margin-bottom: 15px;
    color: brown;
}
#img{
    width: 600px;
     height: 600px; 
     margin: 30px;
     border-radius: 15px;
     border-color: brown;
     border-style:inset;
}
#ad{
    border-color:brown;
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 10px;
    width: 300px;
}
#soyad{
    border-color:brown;
    border-radius: 5px;
    margin-left:100px;
    margin-bottom: 10px;
    width: 300px;
}
#ileti{
    border-color: brown;
    border-radius: 5px;
    margin-left: 100px;
}
#h42{
    margin-left: 180px;
    color: brown;
    margin-top: 50px;

}
#h61{
    margin-left: 180px;
    margin-top: 20px;
}
#h62{
    margin-left: 180px;
    margin-top: -50px;
}
#icon2{
    margin-left: 300px;
    margin-top: -28px;
}
#icon1{
    color:black;
    width: 100px;
    height: 100px;
    margin-left: 300px;
    margin-top: -30px;
}
#icon1:hover{
    color: brown;
}
#icon2:hover{
    color:brown;
}
#icon3:hover{
    color:brown;
}
#icon4:hover{
    color:brown;
}
#h63{
    margin-left:180px;
    margin-top:20px;
}
#h64{
    margin-left: 180px;
    margin-top: 20px;
}
#icon3{
    margin-left: 300px;
    margin-top:-30px;
}
#icon4{
    margin-left: 300px;
    margin-top:-30px;
}

#btn{
    background-color: brown;
    color: black;
    margin-left: 260px;
    border-radius: 10px;
    height: 30px;
    width: 150px;
}
#btn:hover{
    background-color:darkred;
}
.api{
    background-color: bisque;
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
}
.result{
    background-color: rgb(187, 147, 98);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    height: 400px;
    width: 300px;
}
.result img{
    object-fit: cover;
    height: 100%;
    width:100%;
}
.buttons{
    background-color: bisque;
}

.buttons button{
    background-color: brown;
    border:0;
    border-radius: 4px;
    color:black;
}
button:active{
    transform: scale(0.98);
}
button:focus{
    outline:none;
}
#cat_btn{
    margin-left:650px;
}
#iletisim2{
    color:black;
}
#iletiisim2:hover{
    background-color: brown;
    color:black;
}
