body{
    padding: 0;
    margin: 0;
    background-color: bisque;
}
#metin{
    margin: 10px;
}
#hak{
    color: black;
}
#seh{
    color:black;
}
#miras{
    color: black;
}
#ilgi{
    color:black;
}
#iletisim{
    color: black;
}
#gül{
    color:black
}
#gül:hover{
    background-color: brown;
    color:black;

}
#iletisim:hover{
      
  background-color: brown;
  color:black;
}
#hak:hover{
  
  background-color: brown;
  color:black;
}
#seh:hover{
      
  background-color: brown;
  color:black;

}
#miras:hover{
      
  background-color: brown;
  color:black;
}
#ilgi:hover{
      
  background-color: brown;
  color:black;
}
.container-fluid{
    background-color:bisque;
}
#h4{
    margin-top:50px;
}
#h41{
    margin-left: 200px;
    margin-bottom: 15px;
    color: brown;
}
#img{
    width: 600px;
     height: 600px; 
     margin: 30px;
     border-radius: 15px;
     border-color: brown;
     border-style:inset;
}
#ad{
    border-color:brown;
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 10px;
    width: 300px;
}
#soyad{
    border-color:brown;
    border-radius: 5px;
    margin-left:100px;
    margin-bottom: 10px;
    width: 300px;
}
#ileti{
    border-color: brown;
    border-radius: 5px;
    margin-left: 100px;
}
#h42{
    margin-left: 180px;
    color: brown;
    margin-top: 50px;

}
#h61{
    margin-left: 180px;
    margin-top: 20px;
}
#h62{
    margin-left: 180px;
    margin-top: -50px;
}


#icon2{
    margin-left: 300px;
    margin-top: -28px;
}
#icon1{
    color:black;
    width: 100px;
    height: 100px;
    margin-left: 300px;
    margin-top: -30px;
}
#icon3{
    color:black
}
#icon4{
    color:black
}
#icon1:hover{
    color: brown;
}
#icon2:hover{
    color:brown;
}
#icon3:hover{
    color:brown;
}
#icon4:hover{
    color:brown;
}
#h63{
    margin-left:180px;
    margin-top:20px;
}
#h64{
    margin-left: 180px;
    margin-top: 20px;
}
#icon3{
    margin-left: 300px;
    margin-top:-30px;
}
#icon4{
    margin-left: 300px;
    margin-top:-30px;
}
#btn{
    background-color: brown;
    color: black;
    margin-left: 260px;
    border-radius: 10px;
    height: 30px;
    width: 150px;
}
#btn:hover{
    background-color:darkred;
}
#iletisim2{
    color:black;
}
#iletisim2:hover{
    background-color: brown;
    color:black;
}
#film{
    color: black;
}
#film:hover{
    background-color: brown;
    color:black;
}
/*slider*/
.slideshow-container {
    position: relative;
    background: blue;
  }
  
  
  .mySlides {
    display: none;
    padding: 10px;
    text-align: center;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  q {font-style: italic;}
  
  